[submodule "dot-emacs.d/plugins/pdb-mode"]
	path = dot-emacs.d/plugins/pdb-mode
	url = https://github.com/mmagnus/emacs-pdb-mode.git

[submodule "dot-emacs.d/plugins/ralee"]
	path = dot-emacs.d/plugins/ralee
	url = https://github.com/samgriffithsjones/ralee.git
