*~
*#*
dot-emacs.d/plugins/emacs-nav/.hg
dot-emacs.d/plugins/auto-complete/
dot-emacs.d/plugins/popup/
dot-emacs.d/plugins/markdown/
dot-emacs.d/plugins/pymacs/
dot-emacs.d/plugins/python-mode/
.python-environments
*.pyc
tramp
session*
# pkg
nxhtml
rinari-master
django-mode
archive/
backup/
elpa/
url/
_bucket/
_plugins
ac-comphist.dat
bookmarks
dot-emacs.d/notes
dot-emacs.d/places
dot-emacs.d/recentf
dot-emacs.d/projectile-bookmarks.eld
dot-emacs.d/network-security.data
bucket.lisp
dot-emacs-long-bucket-to-re-move.from.here.el
abbrev_defs
dot-emacs_2014-02-02_just-in-case.el
*.bak
emojis
emacs-inbox
/dot-emacs.d/.org-id-locations
/dot-emacs.d/.session
el-get
eshell
games
/dot-emacs.d/ido.last
/dot-emacs.d/radiance-theme.el
request
semanticdb
synonimous
/dot-emacs.el-bakup.el
/dot-emasc.el-170815.el
dot-emacs.d/plugins/ale
.emacs.desktop*